<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>908914972548-96k72cl3afvabs5ombanfgqnugfi5pq7.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.908914972548-96k72cl3afvabs5ombanfgqnugfi5pq7</string>
	<key>ANDROID_CLIENT_ID</key>
	<string>908914972548-v2ee5ed4jc2gtcqh4d2p866j9nqfc3ro.apps.googleusercontent.com</string>
	<key>API_KEY</key>
	<string>AIzaSyAzq1WYJZ5IIdu9Shu6dvPCa5984sKSNw0</string>
	<key>GCM_SENDER_ID</key>
	<string>908914972548</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.forwardtest</string>
	<key>PROJECT_ID</key>
	<string>forwardtest-c1035</string>
	<key>STORAGE_BUCKET</key>
	<string>forwardtest-c1035.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:908914972548:ios:c90a3012afad6549202fd1</string>
</dict>
</plist>